.map-view-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.map-view-options.light {
  color: var(--lightText);
  background-color: var(--lightBg);
}
.map-view-options.dark {
  color: var(--darkText);
  background-color: var(--darkBg);
}
.style-option {
  cursor: pointer;
  text-align: center;
  border-radius: 6px;
  transition: all 0.2s;
}
.style-thumb {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
/* .style-option:hover > .style-thumb {
  border: 1px solid #eee;
} */
/* .style-option.dark:hover .style-thumb {
  border: 1px solid #868686;
} */
.style-option:hover .style-thumb {
  border: 3px solid #868686;
}
.style-option:active .style-thumb {
  border: 3px solid #868686;
}
.style-label {
  font-size: 14px;
  color: inherit;
}
