.navbar {
  background-color: #ffffff;
  padding: 10px 20px;
  margin-left: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  z-index: 10;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.navbar-logo {
  color: #5b5e6e;
}

/* Search section */
.geo-search-area {
  position: relative;
  display: flex;
  align-items: center;
}

.geo-search-icon {
  font-size: 1rem; /*Smaller icon */
  cursor: pointer;
  color: #5b5e6e;
}
.geo-search-icon:hover {
  color: #4a4c5a;
}
.geo-search-form {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.geo-search-input {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #c4c4c4;
  width: 200px;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  opacity: 1;
  transform: scale(1);
  outline: none;
  color: #888;
}

.geo-search-input-hidden {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  pointer-events: none;
}

.geo-search-input:focus {
  border-color: #6f6e6e; /* Optional: subtle focus color */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
  outline: none;
  opacity: 1;
  transform: scale(1);
}

/*Hint dropdown */
.geo-hint-list {
  position: absolute;
  top: 34px;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  width: 200px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 5;
  list-style: none;
  padding: 0;
  margin: 4px 0 0 0;
}

.geo-hint-list li {
  padding: 6px 10px;
  cursor: pointer;
  font-size: 13px;
  color: #333;
}

.geo-hint-list li:hover {
  background-color: #f0f0f0;
}
