.settings-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-theme {
  display: flex;
  align-items: center;
  gap: 8px;
}
.settings-theme.light {
  color: var(--lightText);
  background-color: var(--lightBg);
}
.settings-theme.dark {
  color: var(--darkText);
  background-color: var(--darkBg);
}
.settings-icon {
  color: inherit;
  font-size: 1rem;
}
.settings-label .settings-label {
  font-size: 14px;
  color: inherit;
  font-weight: 500;
}

.toggle-switch {
  width: 40px;
  height: 20px;
  background-color: #c4cbd3;
  border-radius: 999px;
  position: relative;
}
